html,
body {
  /* height: 100%; */
  min-width: 480px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

.hover {
  transition: color 0.2s ease-in-out;
  color: #047857;
}